<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1. Bean Validation 유형 유효성 검사</title>
    <style>
        span{
            color:red;
            border: 1px dot;
        }
    </style>
</head>
<body>
    <h2>1. Bean Validation 유형 유효성 검사</h2>
    <form th:object="${product}" action="/exam09_01" method="post">
        <p>제품명: <input type="text" th:field="*{name}"><span th:errors="*{name}"></span></p>
        <p>가격: <input type="text" th:field="*{price}"><span th:errors="*{price}"></span></p>
        <p>
            <button type="submit">확인</button>&nbsp;&nbsp;
            <button type="reset">취소</button>
        </p>
    </form>
</body>
</html>